// offer color for light and dark color-hex.com

$colors-common: (
  'black': #000,
  'white': #fff
);

$colors-primary: (
  'primary-main': #643695,
  'primary-light': #9272b4,
  'primary-dark': #462568
);

$colors-secondary: (
  'secondary-main': #a6ce39,
  'secondary-light': #c0dc74,
  'secondary-dark': #749027
);

$colors-error: (
  'error-main': #d32f2f,
  'error-light': #ef5350,
  'error-dark': #c62828
);

$colors-warning: (
  'warning-main': #ed6c02,
  'warning-light': #ff9800,
  'warning-dark': #e65100
);

$colors-info: (
  'info-main': #0288d1,
  'info-light': #03a9f4,
  'info-dark': #01579b
);

$colors-success: (
  'success-main': #2e7d32,
  'success-light': #4caf50,
  'success-dark': #1b5e20
);

$colors-gery: (
  'gery-50': #fafafa,
  'gery-100': #f5f5f5,
  'gery-200': #eee,
  'gery-300': #e0e0e0,
  'gery-400': #bdbdbd,
  'gery-500': #9e9e9e,
  'gery-600': #757575,
  'gery-700': #616161,
  'gery-800': #424242,
  'gery-900': #212121
);

$colors-divider: (
  'divider': rgba(0, 0, 0, 0.12)
);

$colors: map-collect(
  $colors-common,
  $colors-primary,
  $colors-secondary,
  $colors-error,
  $colors-warning,
  $colors-info,
  $colors-success,
  $colors-gery,
  $colors-divider
);

:root {
  @each $color-name, $color-code in $colors {
    --color-#{$color-name}: #{$color-code};
  }
}
