.k-select-group .MuiSelect-select {
  display: flex;
  padding: 12px 14px;
}

.k-select-group .muirtl-tlelie-MuiListItemText-root {
  flex: initial;

  &:not(:first-child) {
    margin-right: 4px;
  }
}
