.dashboard-nav {
  &-list {
    width: 100%;

    &__icon {
      padding-left: 12px;
      min-width: auto !important;
    }
  }

  &__top {
    padding: 24px 8px;
  }

  &__logo {
    object-fit: contain;
    width: 80%;
    display: block;
    margin: auto;
  }
}
